.search-input-div {
    opacity: 0.8;
}

.form-control {
    border: 0 solid rgba(0, 0, 0, .15);
}

.hidden {
    display: none;
}

.bg-primary {
    background-color: #FFFFFF !important;
}

.search-table {
    border-radius: 5px;
    align-content: center;
    color: #fff;
    background: #F05F40;
    margin-top: 50px;
}

.search-table > tbody > tr:hover {
    cursor: pointer;
}

.table th {
    text-align: center;
    border-top: None;

}

.table-inverse {
    color: #fff;
    background-color: #F05F40;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: none;
    }
}

.title-text {
    color: #F05F40;
}

h1 {
    color: #F05F40;
}

#mainNav.navbar-shrink {
    background-color: rgb(216, 199, 199);
}