<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SOA project 2 2014011245</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional fonts for this theme -->
    <link href="/static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
          rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="/static/lib/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="/static/css/creative.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/index.css" rel="stylesheet">

    <!-- Temporary navbar container fix until Bootstrap 4 is patched -->
    <style>
        .navbar-toggler {
            z-index: 1;
        }

        @media (max-width: 576px) {
            nav > .container {
                width: 100%;
            }
        }
    </style>

</head>

<body id="page-top">

<!-- Navigation -->
<nav id="mainNav" class="navbar fixed-top navbar-toggleable-md navbar-light">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">
        <a class="navbar-brand page-scroll" href="#page-top">SOA project 2</a>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    {% if user.is_authenticated %}
                    <a class="nav-link">{{user.email}}</a>
                    <a class="nav-link" href="/log_out" style="color: #F05F40">Log out</a>
                    {% else %}
                    <a class="nav-link" style="color: #F05F40">Please log in first</a>
                    {%endif%}
                </li>
                <!--<li class="nav-item">-->
                <!--<a class="nav-link page-scroll" href="#services">Services</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                <!--<a class="nav-link page-scroll" href="#portfolio">Portfolio</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                <!--<a class="nav-link page-scroll" href="#contact">Contact</a>-->
                <!--</li>-->
            </ul>
        </div>
    </div>
</nav>

<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading">SOA project 2</h1>
            <hr>
            <p style="font-size: 25px">计44<br>潘星宇<br>2014011245</p>
            {% if user.is_authenticated %}
            <div class="input-group search-input-div">
                <input id="search-input" type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button" onclick="search(this)">Go!</button>
                </span>
            </div>
            {% else %}
            <a class="btn btn-primary btn-xl" id="log-in-btn" href="/log_in_by_github">Log in with your github
                account</a>
            {% endif %}
        </div>
    </div>
</header>

<button id="show-search-result-btn" class="btn btn-primary hidden" type="button" data-toggle="collapse" data-target="#search-result-section" aria-expanded="false" aria-controls="show_search_result">
  </button>

<section class="bg-primary collapse" id="search-result-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <h2 class="section-heading title-text">We've got what you need!</h2>
                <hr class="light title-text">
                <table class="table search-table table-hover">
                    <thead>
                    <tr style="text-align: center">
                        <th>#</th>
                        <th>name</th>
                        <th>research institution</th>
                        <th>hi</th>
                        <th>pc</th>
                        <th>nc</th>
                        <th>pi</th>
                        <th>upi</th>
                    </tr>
                    </thead>
                    <tbody id="authors-tbody">

                    </tbody>
                </table>

                <!--<a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>-->
            </div>
        </div>
    </div>
</section>

<div class="bd-example hidden">
    <button id='show-coauthors-btn' type="button" class="btn btn-primary" data-toggle="modal"
            data-target="#coauthor-dialog-div">
    </button>
</div>

<div id="coauthor-dialog-div" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="coauthor_dialog"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header ">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                </button>
                <h3 class="modal-title"
                    id="event_v{{ event.No }}"> Coauthors</h3>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <table class="table">
                            <thead>
                            <tr style="text-align: center">
                                <th>#</th>
                                <th>name</th>
                                <th>times</th>
                                <th>research institution</th>
                                <th>hi</th>
                                <th>pc</th>
                                <th>nc</th>
                                <th>pi</th>
                                <th>upi</th>
                            </tr>
                            </thead>
                            <tbody id="coauthors-tbody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<section class="no-padding" id="portfolio">-->
<!--<div class="container-fluid">-->
<!--<div class="row no-gutter popup-gallery">-->
<!--<div class="col-lg-4 col-sm-6">-->
<!--<a href="/static/img/portfolio/fullsize/1.jpg" class="portfolio-box">-->
<!--<img src="/static/img/portfolio/thumbnails/1.jpg" class="img-fluid" alt="">-->
<!--<div class="portfolio-box-caption">-->
<!--<div class="portfolio-box-caption-content">-->
<!--<div class="project-category text-faded">-->
<!--Category-->
<!--</div>-->
<!--<div class="project-name">-->
<!--Project Name-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</a>-->
<!--</div>-->
<!--<div class="col-lg-4 col-sm-6">-->
<!--<a href="/static/img/portfolio/fullsize/2.jpg" class="portfolio-box">-->
<!--<img src="/static/img/portfolio/thumbnails/2.jpg" class="img-fluid" alt="">-->
<!--<div class="portfolio-box-caption">-->
<!--<div class="portfolio-box-caption-content">-->
<!--<div class="project-category text-faded">-->
<!--Category-->
<!--</div>-->
<!--<div class="project-name">-->
<!--Project Name-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</a>-->
<!--</div>-->
<!--<div class="col-lg-4 col-sm-6">-->
<!--<a href="/static/img/portfolio/fullsize/3.jpg" class="portfolio-box">-->
<!--<img src="/static/img/portfolio/thumbnails/3.jpg" class="img-fluid" alt="">-->
<!--<div class="portfolio-box-caption">-->
<!--<div class="portfolio-box-caption-content">-->
<!--<div class="project-category text-faded">-->
<!--Category-->
<!--</div>-->
<!--<div class="project-name">-->
<!--Project Name-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</a>-->
<!--</div>-->
<!--<div class="col-lg-4 col-sm-6">-->
<!--<a href="/static/img/portfolio/fullsize/4.jpg" class="portfolio-box">-->
<!--<img src="/static/img/portfolio/thumbnails/4.jpg" class="img-fluid" alt="">-->
<!--<div class="portfolio-box-caption">-->
<!--<div class="portfolio-box-caption-content">-->
<!--<div class="project-category text-faded">-->
<!--Category-->
<!--</div>-->
<!--<div class="project-name">-->
<!--Project Name-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</a>-->
<!--</div>-->
<!--<div class="col-lg-4 col-sm-6">-->
<!--<a href="/static/img/portfolio/fullsize/5.jpg" class="portfolio-box">-->
<!--<img src="/static/img/portfolio/thumbnails/5.jpg" class="img-fluid" alt="">-->
<!--<div class="portfolio-box-caption">-->
<!--<div class="portfolio-box-caption-content">-->
<!--<div class="project-category text-faded">-->
<!--Category-->
<!--</div>-->
<!--<div class="project-name">-->
<!--Project Name-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</a>-->
<!--</div>-->
<!--<div class="col-lg-4 col-sm-6">-->
<!--<a href="/static/img/portfolio/fullsize/6.jpg" class="portfolio-box">-->
<!--<img src="/static/img/portfolio/thumbnails/6.jpg" class="img-fluid" alt="">-->
<!--<div class="portfolio-box-caption">-->
<!--<div class="portfolio-box-caption-content">-->
<!--<div class="project-category text-faded">-->
<!--Category-->
<!--</div>-->
<!--<div class="project-name">-->
<!--Project Name-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</section>-->

<!--<aside class="bg-dark">-->
<!--<div class="container text-center">-->
<!--<div class="call-to-action">-->
<!--<h2>Free Download at Start Bootstrap!</h2>-->
<!--<a href="http://startbootstrap.com/template-overviews/creative/" class="btn btn-default btn-xl sr-button">Download Now!</a>-->
<!--</div>-->
<!--</div>-->
<!--</aside>-->

<!--<section id="contact">-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-lg-8 offset-lg-2 text-center">-->
<!--<h2 class="section-heading">Let's Get In Touch!</h2>-->
<!--<hr class="primary">-->
<!--<p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>-->
<!--</div>-->
<!--<div class="col-lg-4 offset-lg-2 text-center">-->
<!--<i class="fa fa-phone fa-3x sr-contact"></i>-->
<!--<p>123-456-6789</p>-->
<!--</div>-->
<!--<div class="col-lg-4 text-center">-->
<!--<i class="fa fa-envelope-o fa-3x sr-contact"></i>-->
<!--<p><a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a></p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</section>-->

<!-- jQuery Version 3.1.1 -->
<script src="/static/lib/jquery/jquery.js"></script>

<!-- Tether -->
<script src="/static/lib/tether/tether.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="/static/lib/scrollreveal/scrollreveal.min.js"></script>
<script src="/static/lib/magnific-popup/jquery.magnific-popup.min.js"></script>

<!-- Theme JavaScript -->
<script src="/static/js/creative.min.js"></script>

<!-- Custom JavaScript -->
<script src="/static/js/index.js"></script>


</body>

</html>
